<p>
  <mat-toolbar class="example-spacer">
    <button class="btn" routerLink="/auto_service/orders"><b>ORDERS</b></button>
    <button class="btn" routerLink="/auto_service/owners"><b>OWNERS</b></button>
    <button class="btn" routerLink="/auto_service/cars"><b>CARS</b></button>
    <button class="btn" routerLink="/auto_service/favors"><b>FAVORS</b></button>
    <button class="btn" routerLink="/auto_service/commodities"><b>COMMODITIES</b></button>
    <button class="btn" routerLink="/auto_service/masters"><b>MASTERS</b></button>
  </mat-toolbar>
</p>
<router-outlet></router-outlet>
