<label>
  <div class="box">
    <h1 class="title">
      CREATE FAVOR
    </h1>
    <from [formGroup]="reactiveForm" (ngSubmit)="save()" novalidate>
      <div class="form-group">
        <label class="text">Name:</label>
        <input type="text" class="input form-control" formControlName="favorName" placeholder="favor name" ngModel>
      </div>
      <div class="form-group">
        <label class="text">Master id:</label>
        <input type="number" class="input form-control" formControlName="masterId" placeholder="master id" ngModel>
      </div>
      <div class="form-group">
        <label class="text">Price:</label>
        <input type="number" class="input form-control" formControlName="price" placeholder="price" ngModel>
      </div>
      <button class="btn" type="submit">SAVE</button>
    </from>
  </div>
  <div class="box">
    <h1 class="title">
      UPDATE FAVOR'S STATUS
    </h1>
    <form [formGroup]="updateStatusForm" (ngSubmit)="updateStatus()" novalidate>
      <div class="from-group">
        <label class="text">Favor id:</label>
        <input type="number" class="input form-control" formControlName="id" placeholder="id" ngModel>
      </div>
      <div class="from-group">
        <label class="text">Status:</label>
        <select class="input form-control" name="status" formControlName="status" ngModel>
          <option value="PAID">PAID</option>
          <option value="NOT_PAID">NOT_PAID</option>
        </select>
      </div>
      <button class="btn" type="submit">UPDATE</button>
    </form>
  </div>
  <div class="item" *ngFor="let favor of favors">
    id:{{favor.id}}<br>
    carId:{{favor.favorName}}<br>
    problem:{{favor.masterId}}<br>
    date:{{favor.price}}
  </div>
</label>
