<label>
  <div class="box">
    <h1 class="title">
      SAVE ORDER
    </h1>
    <form [formGroup]="reactiveForm" (ngSubmit)="save()" novalidate>
      <div class="from-group">
        <label class="text">Car id:</label>
        <input type="number" class="input form-control" formControlName="carId" placeholder="car id" ngModel>
      </div>
      <div class="from-group">
        <label class="text">Problem Description:</label>
        <input type="text" class="input form-control" formControlName="problemDescription" placeholder="problem description" ngModel>
      </div>
      <div class="from-group">
        <label class="text">Accept Date:</label>
        <input type="datetime-local" step="any" class="input form-control" formControlName="acceptDate" placeholder="accept date" ngModel>
      </div>
      <button class="btn" type="submit">SAVE</button>
    </form>
  </div>
  <div class="box">
    <h1 class="title">
      UPDATE ORDER'S STATUS
    </h1>
    <form [formGroup]="statusOrderForm" (ngSubmit)="updateStatus()" novalidate>
      <div class="from-group">
        <label class="text">Order id:</label>
        <input type="number" class="input form-control" formControlName="id" placeholder="order id" ngModel>
      </div>
      <div class="from-group">
        <label class="text">Status:</label>
        <select class="input form-control" name="status" formControlName="status" ngModel>
          <option value="PROCESS">PROCESS</option>
          <option value="ACCEPTED">ACCEPTED</option>
          <option value="COMPLETED">COMPLETED</option>
          <option value="NOT_COMPLETED">NOT_COMPLETED</option>
          <option value="PAID">PAID</option>
        </select>
      </div>
      <button class="btn" type="submit">UPDATE</button>
    </form>
  </div>
  <div class="box">
    <h1 class="title">
      ADD COMMODITY TO ORDER
    </h1>
    <form [formGroup]="orderForm" (ngSubmit)="addPart()" novalidate>
      <div class="from-group">
        <label class="text">Order id:</label>
        <input type="number" class="input form-control" formControlName="id" placeholder="id" ngModel>
      </div>
      <div class="from-group">
        <label class="text">Commodity name:</label>
        <input type="text" class="input form-control" formControlName="name" placeholder="name" ngModel>
      </div>
      <div class="from-group">
        <label class="text">Commodity price:</label>
        <input type="number" step="any" class="input form-control" formControlName="price" placeholder="price" ngModel>
      </div>
      <button class="btn" type="submit">ADD</button>
    </form>
  </div>
  <div class="box">
    <h1 class="title">
      ADD FAVOR TO ORDER
    </h1>
    <form [formGroup]="favorForm" (ngSubmit)="addFavor()" novalidate>
      <div class="from-group">
        <label class="text">Order id:</label>
        <input type="number" class="input form-control" formControlName="orderId" placeholder="id" ngModel>
      </div>
      <div class="from-group">
        <label class="text">Favor name:</label>
        <input type="text" class="input form-control" formControlName="favorName" placeholder="favor name" ngModel>
      </div>
      <div class="from-group">
        <label class="text">Worker id:</label>
        <input type="number" class="input form-control" formControlName="workerId" placeholder="worker Id" ngModel>
      </div>
      <div class="from-group">
        <label class="text">Favor price:</label>
        <input type="number" class="input form-control" formControlName="price" placeholder="price" ngModel>
      </div>
      <button class="btn" type="submit">ADD</button>
    </form>
  </div>
  <div class="box">
    <h1 class="title">
      GET ORDER PRICE
    </h1>
    <form [formGroup]="orderPriceForm" (ngSubmit)="getTotalPrice()" novalidate>
      <div class="from-group">
        <label class="text">Order id:</label>
        <input type="number" class="input form-control" formControlName="id" placeholder="id" ngModel>
      </div>
      <div class="from-group">
        <label class="text">Bonus:</label>
        <input type="number" class="input form-control" formControlName="bonus" placeholder="bonus" ngModel>
      </div>
      <div>
        <label class="text">Price:</label>
        <input type="number" class="show" [value]="totalPrice" readonly>
      </div >
      <button class="btn"  type="submit">GET</button>
    </form>
  </div>
  <div class="item" *ngFor="let order of orders">
    id:{{order.id}}<br>
    carId:{{order.carId}}<br>
    problem:{{order.description}}<br>
    date:{{order.acceptDate}}
  </div>
</label>
