<label>
  <div class="box">
    <h1 class="title">
      SAVE COMMODITY
    </h1>
    <form [formGroup]="commodityForm" (ngSubmit)="save()" novalidate>
      <div>
        <label class="text">Name:</label>
        <input type="text" class="input form-control" formControlName="name" placeholder="name" ngModel>
      </div>
      <div class="from-group">
        <label class="text">Price:</label>
        <input type="number" step="any" class="input form-control" formControlName="price" placeholder="price" ngModel>
      </div>
      <button class="btn" type="submit">SAVE</button>
    </form>
  </div>
  <div class="item" *ngFor="let commodity of commodities">
    &nbsp;&nbsp;&nbsp;id:{{commodity.id}}<br>
    &nbsp;&nbsp;&nbsp;name:{{commodity.name}}<br>
    &nbsp;&nbsp;&nbsp;price:{{commodity.price}}
  </div>
</label>
